<button
  class="color-toogle-container"
  aria-label="Toggle Color Mode"
  title="Toggle Color Mode"
>
  <div class="color-mode-sun is-visible"></div>
  <div class="color-mode-moon">
    <div class="color-mode-star"></div>
    <div class="color-mode-star star-small"></div>
  </div>
</button>