<div id="comparison-tablee_container" class="comparison-table_container">
  <div class="table-slider">
    <table class="table-compare_container">
      <tbody>
        <tr class="replace-center-text">
          <td class="attribute-empty">Empty</td>
          <td class="td-image_container active-item">Image Container</td>
          <td class="td-image_container">Image Container</td>
          <td class="td-image_container">Image Container</td>
          <td class="td-image_container">Image Container</td>
          <td class="td-image_container">Image Container</td>
        </tr>
        <tr class="replace-center-text">
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
        </tr>
        <tr class="replace-center-text">
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
        </tr>
        <tr class="replace-center-text">
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
        </tr>
        <tr class="replace-center-text">
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
        </tr>
        <tr class="replace-center-text">
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
        </tr>
        <tr class="replace-center-text">
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
        </tr>
        <tr class="replace-center-text">
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
          <td>Y</td>
        </tr>
      </tbody>


    </table>

  </div>


</div>