<div style="display: flex;">
<p>
    {{ product.metafields.custom.icon_benefit_3 | json }}
  

</p>
<span>  {{ custom.icon_benefit_3 | json }} </span>
   <img src="{{ product.metafields.custom.icon_benefit_3 | file_img_url }}" alt="Just text" height="50px" width="50px">



</div>