<div style="display: flex;">
    {{ product.metafields.custom.icon_benefit_1 | json }}

    {% liquid

    render 'image' image: product.metafields.custom.icon_benefit_1, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, loading: loading
    render 'image' image: product.metafields.custom.icon_benefit_2, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, loading: loading
    render 'image' image: product.metafields.custom.icon_benefit_3, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, loading: loading
    %}
</div>