<div style="display: flex;">
<img src="{{ product.metafields.custom.icon_benefit_3 | file_img_url }}" alt="Just text" height="50px" width="50px">
    {% liquid
assign
    {% comment %} render 'image' image: product.metafields.custom.icon_benefit_1, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, loading: loading, imgURL: product.metafields.custom.icon_benefit_1
    render 'image' image: product.metafields.custom.icon_benefit_2, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, loading: loading, imgURL: product.metafields.custom.icon_benefit_2
    render 'image' image: product.metafields.custom.icon_benefit_3, width: icon_width_retina, sizes: icon_sizes, widths: icon_widths, loading: loading, imgURL: product.metafields.custom.icon_benefit_3 {% endcomment %}
    %}
</div>