<div style="display: flex;">
<p>
   
    {{ product.metafields.custom.icon_benefit_3 | image_url }}

</p>
<span>{{ product.metafields.custom.icon_benefit_3 | img_tag: 'Alt Text', width: 100, height: 100 }}
    </span>
   <img src="{{ product.metafields.custom.icon_benefit_3 | file_url }}" alt="Just text" height="50px" width="50px">



</div>