<div style="display: flex; flex-direction: column;">



<span>{{ product.metafields.custom.icon_benefit_3 | img_tag: 'Alt Text', width: 25, height: 25 }}
    </span>
   <img src="{{ product.metafields.custom.icon_benefit_3 | file_url }}" alt="Just text" height="25px" width="25px">

</div>