{% schema %}
  {
    "name": "Compare Systems - Tiege",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Compare Our Systems"
      },
      {
        "type": "text",
        "id": "caption",
        "label": "Caption",
        "default": "Level Guide"
      },
      {
        "type": "text",
        "id": "sub_heading",
        "label": "Sub Heading",
        "default": "Level Guide"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Lorem Ipsum</p>"
      }
  
    ]
  }
{% endschema %}