{% schema %}
  {
    "name": "Compare Systems - Tiege",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Compare Our Systems"
      },
      {
        "type": "text",
        "id": "caption",
        "label": "Caption",
        "default": "Level Guide"
      },
      {
        "type": "text",
        "id": "sub_heading",
        "label": "Sub Heading",
        "default": "Level Guide"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Description",
        "default": "<p>Lorem Ipsum</p>"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Link Text",
        "default": "Take our Quiz"
      },
      {
        "type": "url",
        "id": "btn_link",
        "label" : "Link URL"
      },
      {
        "type": "header",
        "content": "Items"
      },
      {
        "type":"text",
        "id" : "items_detail",
        "label" : "Comparables",
        "default": "Wash,Scrub,AM,PM,Eyes,Serum",
        "info": "Please add a comma seperated list of properties to compare"
      }
  
    ]
  }
{% endschema %}