<div class="jobs__container wrapper--narrow">
  <div class="jobs__wrapper">
    <div class="jobs-desc__container">
      <p class='jobs-desc__title'>Jobs</p>
      <p class='jobs-desc__title'>Location</p>
    </div>
    <div class="jobs-openings__container">
      {% for block in section.blocks %}
        <div class="available-job">
          <p class='job-name'>{{ block.settings.job-name }}</p> 
          <p class='job-loc'>{{ block.settings.job-location }}</p> 
          <a href="{{ block.settings.linkurl }}" class='job-link btn btn--text  btn--secondary'><p>Learn More</p></a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Jobs - Tiege",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "Jobs",
      "name": "Job",
      "settings": [
        {
          "id": "job-name",
          "type": "text",
          "label": "Job Name"
        },
        {
          "id": "job-location",
          "type": "text",
          "label": "Job Location"
        },
        {
          "id": "linkurl",
          "type": "url",
          "label": "URL link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Jobs - Tiege",
      "blocks": [
        {
          "type": "Jobs",
          "settings": {
            "job-name": "Default Job Name",
            "job-location": "Default Job Location",
            "linkurl": "https://example.com"
          }
        }
      ]
    }
  ]
}
{% endschema %}
