<div class="jobs__container">
  <div class="jobs__wrapper">
    <div class="jobs-desc__container">
      <p>Jobs</p>
      <p>Location</p>
    </div>
    <div class="jobs-openings__container">
      <div class="available-job">
        <p>A Job</p> 
        <p>Location</p> 
        <a href=""><span>Learn More</span></a>
      </div>
    </div>
  </div>

{% schema %}
  {
    "name": "Jobs - Tiege",
    "settings": [],
    "presets": [
      {
      "name": "Jobs - Tiege"
      
      }
      ]
  }
{% endschema %}