
<div>
  
  <div>
    <div>
      <p>Open Positions</p>
    </div>
    <div>
      <p>Link 2</p>
    </div>
    <div>
      <p>{{ section.settings.title }}</p>
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "Link Tabs - Tiege",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Tab 1"
    } 
    ],
    "presets": [
      {
      "name": "Link Tabs - Tiege",
      "settings": {
        "title": "Tabs"
                  }
      }
      ]
    
  }
{% endschema %}