
<div class='wrapper--narrow'>
  
  <div class='link-tabs__container'>
    <div class='link-tabs__tab'>
      <a>
      <span>{{ section.settings.tab1 }}</span>
      </a>
    </div>
    <div class='link-tabs__tab'>
      <a>
      <span>{{ section.settings.tab2 }}</span>
      </a>
    </div>
    <div class='link-tabs__tab'>
      <a>
      <span>{{ section.settings.tab3 }}</span>
      </a>
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "Link Tabs - Tiege",
    "settings": [
      {
      "type": "text",
      "id": "tab1",
      "label": "Tab 1",
        "default": "Open Positions"
    },
       {
          "type": "url",
          "id": "tab1_url",
          "label": "Link"
        },
      {
      "type": "text",
      "id": "tab2",
      "label": "Tab 2",
        "default": "Benefits"
    },
            {
          "type": "url",
          "id": "tab2_url",
          "label": "Link"
        },
      {
      "type": "text",
      "id": "tab3",
      "label": "Tab 1",
        "default": "Culture"
    },
            {
          "type": "url",
          "id": "tab3_url",
          "label": "Link"
        }
    ],
    "presets": [
      {
      "name": "Link Tabs - Tiege"
      
      }
      ]
    
  }
{% endschema %}