.rc-radio-group__options {
  border: unset !important;
}
/* .rc-template__radio-group .rc-radio {
  margin-bottom: 0.75rem !important;
} */
.rc-template__radio-group .rc-radio .rc-radio__label {
    flex-direction: row-reverse !important;
    flex: 1 !important;
}
.rc-template__radio-group .rc-radio .rc-radio__label .discount-label {
    flex: 1 !important;
    font-weight: 400 !important;
}
.rc-radio:first-child {
  margin-bottom: 12px !important;
}
/* @media (max-width: 1138px){
.rc-radio__label {
  font-size: 12px
}  
} */
.level-guide-member-single-tier_text {
  text-align: center;
}
.level-guide-member-tiers-wrapper-custom {
  padding-left: 10%;
  padding-right: 10%;
}
.level-guide-member-tiers_container{
  gap: 4px;
}

@media screen and (min-width: 750px){
  .level-guide-member-tiers-wrapper-custom {
    padding: 0;
  }
.level-guide-member-tiers_container {
  gap: 22px
}
}
