/*Contact Us - Form*/
@media (min-width: 750px){
#contact-us-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
#contact-us-page div:first-of-type {
  grid-column-start: 1;
  grid-column-end: 3;
}
#contact-us-page div:nth-of-type(2){
  grid-column-start: 3;
  grid-column-end: 5;
}
#contact-us-page div:nth-of-type(3){
  grid-column-start: 1;
  grid-column-end: 3;
}
#contact-us-page div:nth-of-type(4){
  grid-column-start: 1;
  grid-column-end: 5;
}
#contact-us-page div:nth-of-type(5){
  grid-column-start: 1;
  grid-column-end: 5;
}
#contact-us-page div:nth-of-type(6){
  grid-column-start: 1;
  grid-column-end: 3;
}
#contact-us-page div:nth-of-type(7){
  grid-column-start: 1;
  grid-column-end: 3;
}
#contact-us-page fieldset{
  grid-column-start: 3;
  grid-column-end: 5;
}
  }
#contact-us-page .btn--solid:after {
  background-color: #009426 !important;
  border-color: #009426 !important;
}
.rc-radio-group__options {
  border: unset !important;
}
/* .rc-template__radio-group .rc-radio {
  margin-bottom: 0.75rem !important;
} */
.rc-template__radio-group .rc-radio .rc-radio__label {
    flex: 1 !important;
}

.rc-radio:first-child {
  margin-bottom: 12px !important;
}
/* @media (max-width: 1138px){
.rc-radio__label {
  font-size: 12px
}  
} */
.level-guide-member-single-tier_text {
  text-align: center;
}
.level-guide-member-tiers-wrapper-custom {
  padding-left: var(--outer);
  padding-right: var(--outer);
}
.level-guide-member-tiers_container{
  gap: 4px;
}

@media screen and (min-width: 750px){
  .level-guide-member-tiers-wrapper-custom {
    padding: 0;
  }
.level-guide-member-tiers_container {
  gap: 22px
}
}
.sliderule__panel {
  position: relative;
  height: 0;
}
.sliderule__panel.is-visible {
  height: auto;
}
.sliderow.is-hiding {
  opacity: 1;
  visibility: visible;
}
.sliderow.is-hidden {
  display: none;
}
/*
// Dark mode toggle
.color-toogle-container {
  width: 46px;
  height: 46px;
  box-sizing: border-box;
  padding: 12px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.color-mode-sun {
  width: 50%;
  height: 50%;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.6) rotate(0deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, #f0f0f0 50%);
}

.color-mode-sun:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #f0f0f0 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, #f0f0f0 50%);
  transform: rotate(45deg);
}

.color-mode-sun.is-visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) rotate(180deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}
    
.color-mode-moon {
  width: 50%;
  height: 50%;
  pointer-events: none;
  position: absolute;
  left: 12.5%;
  top: 18.75%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  box-shadow: 9px 3px 0px 0px #f0f0f0;
  opacity: 0;
  transform: scale(0.3) rotate(65deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.color-mode-moon.is-visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) rotate(0deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.color-mode-star {
  position: absolute;
  top: 25%;
  left: 5%;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #f0f0f0;
  border-left: 7px solid rgba(0, 0, 0, 0);
  transform: scale(0.55) rotate(35deg);  
  opacity: 0;
  transition: all 0.2s ease-in 0.4s;
}

.color-mode-star:before {
  border-bottom: 5px solid #f0f0f0;
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  position: absolute;
  height: 0;
  width: 0;
  top: -3px;
  left: -5px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}

.color-mode-star:after {
  position: absolute;
  display: block;
  color: red;
  top: 0px;
  left: -7px;
  width: 0px;
  height: 0px;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #f0f0f0;
  border-left: 7px solid rgba(0, 0, 0, 0);
  transform: rotate(-70deg);
  content: '';
}

.color-mode-moon.is-visible .color-mode-star {
  opacity: .8;
  transform: rotate(35deg); 
}

.color-mode-star.star-small {
  transform: scale(0.35) rotate(35deg);
  position: relative;
  top: 50%;
  left: 37.5%;
  opacity: 0;
  transition: all 0.2s ease-in 0.45s;
}

.color-mode-moon.is-visible .color-mode-star.small {
  opacity: .7;
  transform: scale(0.45) rotate(35deg);
} */
.sliderow .sliderule__chevron--up,
.sliderow.is-active .sliderule__chevron--right {
  display: none;
}
.sliderow.is-active .sliderule__chevron--up {
  display: flex;
}
.drawer__menu {
  overflow-y: visible;
}
.product__page {
  display: flex;
}
.product__page .product__images {
  width: calc(100% - 600px);
}
.product__page .product__content {
  width: 600px;
}
@media only screen and (min-width: 1080px) and (max-width: 1920px) {
 .product__page .product__images {
    width: calc(100% - 400px);
  }
  .product__page .product__content {
    width: 400px;
  } 
}
@media only screen and (min-width: 749px) and (max-width: 1079px) {
 .product__page .product__images {
    width: calc(100% - 300px);
  }
  .product__page .product__content {
    width: 300px;
  } 
}
@media only screen and (max-width: 748px) {
  .product__page {
    display: grid;
  }
  .product__page .product__images {
    width: 100%;
  }
  .product__page .product__content {
    width: 100%;
  }
}
.sliderule__chevron--up {
  width: 20px;
  height: 20px;
}
.icon-chevron {
  --icon-size: 15px;
  fill: currentcolor !important;
}
.flickity-prev-next-button.previous {
  left: 40px;
}
.flickity-prev-next-button.next {
  right: 40px;
}
body.template-collection:has(.main-content > .shopify-section.section-overlay-header:first-of-type) [data-header-transparent]:not(.meganav--visible):not(.js__header__stuck) .header__logo--has-transparent .logo__img--transparent,
body.template-product:has(.main-content > .shopify-section.section-overlay-header:first-of-type) [data-header-transparent]:not(.meganav--visible):not(.js__header__stuck) .header__logo--has-transparent .logo__img--transparent {
  opacity: 0;
}
body.template-collection:has(.main-content > .shopify-section.section-overlay-header:first-of-type) [data-header-transparent]:not(.meganav--visible):not(.js__header__stuck) .header__logo--has-transparent .logo__img--color,
body.template-product:has(.main-content > .shopify-section.section-overlay-header:first-of-type) [data-header-transparent]:not(.meganav--visible):not(.js__header__stuck) .header__logo--has-transparent .logo__img--color {
  opacity: 1;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.js__header__stuck {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: var(--animate-duration);
  animation-duration: var(--animate-duration);
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}